<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="py-4">
      <div class="container-lg">
        <nav class="navbar sticky-md-top navbar-expand-lg navbar-light d-flex justify-content-between align-items-center">
          <a class="navbar-brand fs-4 lh-36 text-light" href="index.html">
            感瘦
          </a>
          <ul class="d-flex justify-content-between align-items-center d-lg-none d-block">
            <li class="nav-item me-md-16">
              <a class="nav-link" href="collect.html">
                <span class="material-icons w-24 h-24 text-primary">
                  favorite
                </span>
              </a>
            </li>
            <li class="nav-item me-md-16">
              <a class="nav-link" href="cart.html">
                <span class="material-icons w-24 h-24 text-primary">
                  shopping_cart
                </span>
              </a>
            </li>
            <li>
              <button class="navbar-toggler d-lg-none border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons text-primary">
                  menu
                </span>
            </button>
            </li>
          </ul>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav align-items-center">
              <li class="nav-item">
                <a class="nav-link fs-6 lh-sm text-success" aria-current="page" href="tdee.html">TDEE計算
                </a>
              </li>
              <li class="nav-item ms-md-18">
                <a class="nav-link fs-6 lh-sm text-success" href="article.html">瘦身好文</a>
              </li>
              <li class="nav-item ms-md-18">
                <a class="nav-link fs-6 lh-sm text-success" href="cookbook.html">瘦身食譜</a>
              </li>
              <li class="nav-item ms-md-18">
                <a class="nav-link fs-6 lh-sm text-success" href="lunchbox.html">瘦身餐盒</a>
              </li>
              <li class="nav-item ms-md-18">
                <a class="nav-link fs-6 lh-sm text-success" href="login.html">會員登入</a>
              </li>
              <li class="nav-item d-md-block d-none ms-md-17">
                <a class="nav-link" href="collect.html">
                  <span class="material-icons w-24 h-24 text-primary">
                    favorite
                  </span>
                </a>
              </li>
              <li class="nav-item d-md-block d-none ms-md-16">
                <a class="nav-link" href="cart.html">
                  <span class="material-icons w-24 h-24 text-primary">
                    shopping_cart
                  </span>
                </a>
              </li> 
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <%- contents %>

    <footer class="bg-info">
      <div class="container-lg">
        <ul class="d-flex flex-lg-row justify-content-lg-between flex-column align-items-center">
          <li>
            <ul class="d-flex flex-column justify-content-between  align-items-center py-24">
              <li class="mb-6">
                <a class="fs-6 lh-sm text-primary" href="tdee.html">
                  TDEE計算
                </a>
              </li>
              <li class="mb-6">
                <a class="fs-6 lh-sm text-primary" href="article.html">
                  瘦身好文
                </a>
              </li>
              <li class="mb-6">
                <a class="fs-6 lh-sm text-primary" href="cookbook.html">
                  瘦身食譜
                </a>
              </li>
              <li class="mb-6">
                <a class="fs-6 lh-sm text-primary" href="lunchbox.html">
                  瘦身餐盒
                </a>
              </li>
              <li>
                <a class="fs-6 lh-sm text-primary" href="Information.html">
                  付款及運送資訊
                </a>
              </li>
            </ul>
          </li>
          <li class="d-flex flex-column align-items-center my-lg-0 my-3">
            <img class="d-md-none d-block" src="./assets/images/divider.png" alt="divider">
            <a class="navbar-brand fs-4 lh-36 text-primary py-6 my-3" href="index.html">
              感瘦
            </a>
            <img class="d-md-none d-block" src="./assets/images/divider.png" alt="divider">
          </li>
          <li class="py-13 d-flex flex-column align-items-center">
            <p class="fs-6 lh-sm text-primary mb-6">會員登入</p>
            <ul class="mb-6 d-flex">
              <li>
                <a href="https://zh-tw.facebook.com/">
                  <img class="w-16 h-24" src="./assets/images/meta 1.png" alt="meta">
                </a>
              </li>
              <li class="mx-6">
                <a href="https://www.instagram.com/">
                  <img class="w-24 h-24" src="./assets/images/instagram 1.png" alt="instagram">
                </a>
              </li>
              <li>
                <a href="https://github.com/">
                  <img class="w-24 h-24" src="./assets/images/github 1.png" alt="github">
                </a>
              </li>
            </ul>
            <p class="fs-6 lh-sm text-primary mb-6">電話：0912345678</p>
            <p class="fs-6 lh-sm text-primary">信箱：feeltothin@gmail.com</p>
          </li>
        </ul>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>