.box-1 {
  border: solid 2px $white;
  height: 527px;
  width: 527px;
  -webkit-clip-path: circle(45.0% at 50% 50%);
  clip-path: circle(45.0% at 50% 50%);
  @media (min-width: 768px) {
    height: 628px;
    width: 628px;
    -webkit-clip-path: circle(48.0% at 50% 50%);
    clip-path: circle(48.0% at 50% 50%);
  }
}
.tdeeImg {
    background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/tdeeImg.jpg?raw=true") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 527px;
    width: 527px;
    position:absolute; 
    top:0; 
    left:0;
    z-index: -1;
  &:hover {
    transform:scale(1.2,1.2);
    transition-duration: 1.5s;
  }
  @media (min-width: 768px) {
    height: 628px;
    width: 628px;
  }
}
.articleImg {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/articleimg.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: right;
  height: 527px;
  width: 527px;
  position:absolute; 
  top:0; 
  left:0;
  z-index: -1;
  &:hover {
    transform:scale(1.2,1.2);
    transition-duration: 0.5s;
  }
  @media (min-width: 768px) {
    height: 628px;
    width: 628px;
  }
}
.box-2 {
  border: solid 2px $white;
  height: 100%;
  width: 100%;
  -webkit-clip-path: circle(40% at 50% 50%);
  clip-path: circle(40% at 50% 50%);
}
.recipe {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/recipe.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: right;
  height: 100%;
  z-index: 3;
  background-attachment:fixed;
}
.avocadoSaladImg {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/AvocadoSalad.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 360px;
  width: 360px;
  border-radius: 50%;
    &:hover {
      box-shadow: 5px 5px 7px $success;
    }
  }
  
.porkSaladImg {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/porksalad.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 360px;
  width: 360px;
  border-radius: 50%;
  &:hover {
    box-shadow: 5px 5px 7px $success;
  }
}
.kimchiSaladImg {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/KimchiSalad.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: center center ;
  height: 360px;
  width: 360px;
  border-radius: 50%;
  &:hover {
    box-shadow: 5px 5px 7px $success;
  }
}
.recipe::before {
  content: url("https://raw.githubusercontent.com/JHOUJHOU/feelthin_project/b348507ccc694ed02322cf2e87af2882476e7b9f/app/assets/images/Recipe-sm.svg");
  z-index: -1;
  position:absolute;
  top: -90px;
  right: 0px;
  bottom: 0px;
  left: 20px;
  @media (min-width: 768px) {
    content: url("https://raw.githubusercontent.com/JHOUJHOU/feelthin_project/53b5df149481a670dfbf471b1e6264fe91d648bc/app/assets/images/Recipe.svg");
    z-index: -1;
    position:absolute;
    top: -230px;
    right: 0px;
    bottom: 0px;
    left: 120px;
  }
}
.chickenbox {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/tdeeImg.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: center center ;
  width: 100%;
  height: 400px;
}
.kimchibox {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/KimchiSalad.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 400px;
}
.porkbox {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/porksalad.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: center center ;
  width: 100%;
  height: 400px;
}
.sport-first {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/sport1.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: center center ;
  width: 630px;
  height: 480px;
}
.sport-sec {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/sport2.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: bottom ;
  width: 630px;
  height: 480px;
}
.sport-three {
  background: url("https://github.com/JHOUJHOU/feelthin_project/blob/master/app/assets/images/porksalad.jpg?raw=true") no-repeat;
  background-size: cover;
  background-position: bottom ;
  width: 630px;
  height: 480px;
}

.move{
  width: 700px;
  height: 490px;
  position: relative;
}
.move a{
  display: block;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  filter: alpha(opacity=0);
  // /*當圖片數量增加，影片長度需更改，變為5s圖片數量/
  -webkit-animation: silder 15s linear infinite;
          animation: silder 15s linear infinite;
}
.move a img{
  max-width: 100%;
}


// /動畫關鍵影格/
@-webkit-keyframes silder {
  3% {
      opacity: 1;
      filter: alpha(opacity=100);
  }
  27% {
      opacity: 1;
      filter: alpha(opacity=100);
  }
  30% {
      opacity: 0;
      filter: alpha(opacity=0);
  }
}
@keyframes silder {
  3% {
      opacity: 1;
      filter: alpha(opacity=100);
  }
  27% {
      opacity: 1;
      filter: alpha(opacity=100);
  }
  30% {
      opacity: 0;
      filter: alpha(opacity=0);
  }
}



// /每個圖片各延遲5秒/
.move a:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.move a:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.move a:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;    
}